
frontend/node_modules/.cache/
backend/node_modules/.cache/
backend/uploads/

# Data directories
mongodb-data/

# System files
.DS_Store
minio-data
frontend/node_modules/.package-lock.json
frontend/build/
frontend/rendered/

.env